@{
    ViewBag.Title = "Sửa đia chỉ";
    Layout = "~/Views/KenhBanHang/KenhBanHang.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DanhGia</title>
</head>
<body>
    <div>
        Đánh giá
    </div>
</body>
</html>
