@{
    ViewBag.Title = "Sửa đia chỉ";
    Layout = "~/Views/KenhBanHang/KenhBanHang.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KhachHangDaMua</title>
</head>
<body>
    <div>
        KHách hàng đã mua
    </div>
</body>
</html>
