.wrapper {
    overflow: hidden;
    background-color:#f5f5fa;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    padding: 20px 0px;
    overflow-x: auto;
    position:relative;
}

    .wrapper::-webkit-scrollbar {
        display:none;
        width:0;
    }
.box {
    width: 215px;
    height: 340px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}
.sanpham-item-card {
    width: 215px;
    height: 340px;
    background-color: #f3f3f3;
    padding: 20px 0px;
    padding-top:10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 4px 6px #AAAAAA;
    position:relative;
}

.cardsp:hover .sanpham-item-card {
    box-shadow: 1px 2px 5px #0dcaf0;
}
.sanpham-item-text ul {
    width: 100%;
}

.sanpham-item-card:hover {
    box-shadow: 1px 2px 5px #0dcaf0;
}
