<style>
    .the_ggg{
        margin-top:10px;
    }
    .vc {
        padding: 20px;
        margin: 3px;
        min-height: 100px;
        color: #111111;
        border: 1px dashed #dc3545;
    }
        .vc:hover {
            margin-top: -5px;
            margin-bottom: 5px;
            box-shadow: 1px 4px 10px #0dcaf0;
        }
    .hsd{
        color:#999999;
    }
    .tgg{
        color:red;
        text-decoration:none;
    }
    .nd_giam{
        font-size:20px;
        color:darkblue;
    }
    .shh {
        position:relative;
        margin-top:-20px;
        margin-right:-20px;
        border-radius: 0px 10px;
        font-family:Arial;
        text-align:center;
        color:white;
        font-size:13px;

    }
    .xemngay{
        margin-top:25px;
        color:black;
    }
</style>
<div class="row">

    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 the_ggg">
        <div class="itemm w-100 vc">
            <div class="row">
                <div class="col-7" style="border-right:1px dashed #999999;">
                    <span class="nd_giam">Giảm 10% đơn từ 300K</span><br />
                    <a class="tgg"><span class="hsd">HSD </span> Chỉ còn 6 ngày</a>
                </div>
                <div class="col-5">
                    <div class=" bg-danger shh">
                        Sắp hết hạn
                    </div>
                    <center><a href="#" class="btn btn-outline-info xemngay">Xem ngay</a></center>
                </div>
            </div>
        </div>
    </div>
</div>